:root {
  --text: #010907;
  --background: #f7fefc;
  --primary: #19e7ad;
  --secondary: #9d89f3;
  --accent: #a44aec;
}
.main {
    height: 800px;
    background-color: #9d89f3;
}

.header {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1% 25% 0 25%;
}
#logout{
    background-color: #19e7ad;
    color: #010907;
    border: none; 
    padding: 8px 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#logout:hover {
  background-color: #15c48e; 
}
.searchInput {
    margin: 25px 0 0 50px;
    max-width: 25%;
    border-radius: 15px;
    font-size: 32px;
    padding: 8px;
    border: 0;
    outline: none;
}
.results {
    height:70%;
    width: 80%;
    margin: 50px;
    background-color: #19e7ad;
}